.pnj-header {
    margin: 0 146px;
}
.pnj-slide2 {
    margin: 0 146px;
}
.pnj-slide3 {
    margin: 0 50px;
}
.pnj-slidebar {
    margin-bottom: 20px;
}
.pnj-product {
    margin: 0 100px;
    margin-top: 10px;
}
.pnj-new {
    margin: 250px 60px;
}
.pnj-footer {
    margin: 0 138px;
}